.App {
  padding: 30px;
  display: flex;
  font-family:  'Roboto', sans-serif;
}

.App > div {
  margin-right: 50px;
}

.taskDone{
  text-decoration: line-through;
  color: #bebebe;
}

.activeBtn{
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}
.defaultBtn {
  background-color: #9b0098;
  border: 2px solid #9b0098;
  border-radius: 5px;
  color: white;
  margin-right: 5px;
}

.errorInput{
  border: 2px solid red;
  outline: none;
}
.errorText{
  color: red;
}